.form-container {
  display: flex;
  flex-direction: column;
  width: 47rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 10px rgba(4, 191, 191, 0.2);
  border-radius: 1rem;
  padding: 0 3rem 4rem 3rem;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: inherit;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem;
  color: #000000;
  padding-top: 5rem;
  border: none;
  border-bottom: 1px solid #878787;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

input[type="submit"] {
  display: block;
  width: 20.5rem;
  height: 6.5rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #04bfbf;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 65px;
  color: #ffffff;
  border: none;
  margin-left: auto;
  margin-right: 18rem;
  margin-top: 4rem;
  border-radius: 1rem;
  filter: drop-shadow(0px 20px 20px rgba(4, 191, 191, 0.2));
}
